{% extends "base.html" %} 
{% block title %}Home{% endblock %} 

{% block content %}
<h1>Welcome to Your Dashboard</h1>

<h2>Your Subscriptions</h2>
<ul>
    {% for subscription in subscriptions %}
    <li>
        Model: {{ subscription.gpu_model }}<br>
        Price: {{ subscription.latest_price }}<br>
        Desired Price: {{ subscription.desired_price }}
        <form class="subscription-form" method="post" action="/cancel_subscription">
            {{ subscription_form.csrf_token }}
            <input type="hidden" name="subscription-id" value="{{ subscription.id }}">
            <button type="submit" class="cancel-button">Cancel</button>
        </form>
    </li>
    {% endfor %}
</ul>

<h2>Potential Subscriptions</h2>
<ul>
    {% for gpu in gpus %}
    <li>
        Model: {{ gpu.model }} | Price: {{ gpu.price[-1].price if gpu.price else 'N/A' }}<br>
        {% if current_user.is_authenticated %}
        <form class="subscription-form" method="post" action="/subscribe">
            {{ subscription_form.csrf_token }}
            <label for="{{ subscription_form.desired_price.id }}">{{ subscription_form.desired_price.label }}</label>
            <input type="number" name="desired-price" required> <!-- Add the name attribute -->
            <input type="hidden" name="gpu-id" value="{{ gpu.id }}">
            <button type="submit" class="subscribe-button">Subscribe</button>
        </form>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock %}